{% extends 'base.html' %} {% block title %} Authors and Books {% endblock %} {%
block body %}
<h1>Good Reads API</h1>
<div class="container">
  <div class="see_all">
    <div>
      <a href=" {{ url_for('seeAllBooks') }}">See All Books</a>
    </div>
    <div>
      <a href=" {{ url_for('seeAllAuthors') }}">See All Authors</a>
    </div>
  </div>
  <div class="get_items">
    <h3>Get Book</h3>
    <div>
      <form action="{{ url_for('get_books_data') }}" method="GET">
        <textarea name="title" placeholder="Title"></textarea>
        <input type="submit" />
      </form>
      <form action="{{ url_for('get_books_data') }}" method="GET">
        <textarea name="related_books" placeholder="Related Books"></textarea>
        <input type="submit" />
      </form>
      <form action="{{ url_for('get_books_data') }}" method="GET">
        <textarea name="author" placeholder="Author Name"></textarea>
        <input type="submit" />
      </form>
    </div>

    <h3>Get Author</h3>
    <div>
      <form action="{{ url_for('get_author_data') }}" method="GET">
        <textarea name="name" placeholder="Name"></textarea>
        <input type="submit" />
      </form>
      <form action="{{ url_for('get_author_data') }}" method="GET">
        <textarea name="booktitle" placeholder="Book Title"></textarea>
        <input type="submit" />
      </form>
    </div>
  </div>
  <div class="post_items">
    <h3>Post Book</h3>
    <div>
      <form action="{{ url_for('post_book_data') }}" method="POST">
        <textarea name="book_url"></textarea>
      </form>
    </div>
    <h3>Post Author</h3>
  </div>
  <div class="update_items">
    <h3>Update Book</h3>
    <h3>Update Author</h3>
  </div>
  <div class="delete_items">
    <h3>Delete Book</h3>
    <div>
      <form action="{{ url_for('delete_book') }}" method="DELETE">
        <textarea name="title" placeholder="Book Title"></textarea>
        <input type="submit" />
      </form>
      <form action="{{ url_for('delete_book') }}" method="DELETE">
        <textarea name="ISBN" placeholder="ISBN"></textarea>
        <input type="submit" />
      </form>
    </div>
    <h3>Delete Author</h3>
  </div>
</div>
{% endblock %}
