{% extends 'base.html' %} {% block title %} Success!{% endblock %} {% block body
%}
<h1>All Books</h1>
<div>
  <ol>
    <li>URL {{data[book_url]}}</li>
    <li>Title {{data[title]}}</li>
    <li>Book ID{{data[book_id]}}</li>
    <li>ISBN {{data[ISBN]}}</li>
    <li>Author {{data[author]}}</li>
    <li>Author Url {{data[author_url]}}</li>
    <li>Rating {{data[rating]}}</li>
    <li>Rating Cpunt{{data[rating_count]}}</li>
    <li>Revice Count{{data[review_count]}}</li>
    <li>Image Url{{data[image_url]}}</li>
    <li>Similar Books{{data[similar_books]}}</li>
  </ol>
  <form action="{{ url_for('index') }}">
    <div>
      <button class="btn btn-primary">Back to Main Page</button>
    </div>
  </form>
</div>

{% endblock %}
